@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: #ffffff;
  --color-text: #1f2937;
  --color-primary: #3490dc;
}

.dark {
  --color-background: #1a202c;
  --color-text: #f7fafc;
  --color-primary: #60a5fa;
}
